@charset "gb2312";
body{
    margin: 0;
    font-size: 12px;
    background: #c9c9c9;
    width: 172px;
    text-align: center;
    clear: none;
}

.page{
    width: 1300px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.banner{
    height: 300px;
    clear: both;
    float: none;
    background-image: url(images/main_banner1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 1300px;
}
.nav{
    height: 35px;
    width: 1300px;
    clear: both;
    float: none;
    background-color: #4CA98B;
}
.nav ul{
    list-style: none;
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 1300px;
    clear: both;
    float: none;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-right: 20%;
    padding-left: 31%;
}
.nav ul li{
    float: left;
    width: 88px;
    text-align: center;
    line-height: 35px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
.nav ul li a{
	color: #fff;
	text-decoration: none;
}
.nav ul li a:hover{
	text-decoration: underline;
	color: #fba
}



marquee{
	line-height: 25px;
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#page .tab {
	width:1300px;
	height:500px;
	background:#ccc;
	overflow:hidden;
}
#page .tab label {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    line-height: 40px;
    background-color: #ccc;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 20%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    cursor: pointer;
    clear: both;
	border-radius: 12px 12px 0 0;
}

.tab input{
	display: none;
}
#page .tab label:hover {
	background:#A6DABD;	
}
.content{
	width:5200px;
	height:400px;
	background: #A6DABD;
	transition: 0.3s;
}
.tab img{
    padding-top: 0px;
    padding-right: 20%;
    padding-bottom: 10px;
    padding-left: 20%;

}
#ck1:checked~label[for="ck1"]{background:#A6DABD;}
#ck2:checked~label[for="ck2"]{background:#A6DABD;}
#ck3:checked~label[for="ck3"]{background:#A6DABD;}
#ck4:checked~label[for="ck4"]{background:#A6DABD;}
.content li{
    width: 1300px;
    height: 400px;
    text-align: center;
    float: left;
    font-size: 18px;
}
#ck1:checked~ul{margin-left:0px;}
#ck2:checked~ul{margin-left:-1300px;}
#ck3:checked~ul{margin-left:-2600px;}
#ck4:checked~ul{margin-left:-3900px;}
#page .imge {
    height: 1000px;
    width: 1300px;
    background-color: #ccc;
}
#page .imge img {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    text-decoration: none;
    padding: 60px;
    float: none;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
#page .lishi {
    height: 2000px;
    width: 1300px;
    background-color: #ccc;
}
#page .chengshi {
    height: 1500px;
    width: 1300px;
    background-color: #ccc;
    padding-top: 100px;
}
#page .gucheng {
    height: 1100px;
    width: 1300px;
    background-color: #ccc;
}
#page .caiddan {
    height: 800px;
    width: 1300px;
}
#page .caiddan div {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    float: none;
}
#page .shiping {
    height: 500px;
    width: 1300px;
}
